.custom-carousel {
  height: 500px;
  max-height: 500px;
  overflow: hidden;
  background-color: black;
  position: relative;
  z-index: 1; /* Garante que não fique por cima dos outros componentes */
}

.custom-carousel .carousel-inner,
.custom-carousel .carousel-item {
  height: 100%;
}

.custom-carousel .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
