@font-face {
    font-family: museo-slab-w01-100;
    font-style: normal;
    font-weight: 400;
    src: url(//static.parastorage.com/fonts/v2/d7a52a8d-f522-4967-8df0-d255c159ce97/v1/museo-slab-w01-100.woff2) format("woff2");
    unicode-range: U+000D,U+0020-007E,U+00A0-00A5,U+00A7-00FF,U+0131,U+0152-0153,U+0160-0161,U+0178,U+017D-017E,U+0192,U+02C6-02C7,U+02DA,U+02DC,U+03BC,U+2013-2014,U+2018-201A,U+201C-201E,U+2020-2022,U+2026,U+2030,U+2039-203A,U+2044,U+2074,U+20AC,U+2122
}
@font-face {
    font-family: museo-slab-w01-300;
    font-style: normal;
    font-weight: 400;
    src: url(//static.parastorage.com/fonts/v2/d7a52a8d-f522-4967-8df0-d255c159ce97/v1/museo-slab-w01-300.woff2) format("woff2");
    unicode-range: U+000D,U+0020-007E,U+00A0-00A5,U+00A7-00FF,U+0131,U+0152-0153,U+0160-0161,U+0178,U+017D-017E,U+0192,U+02C6-02C7,U+02DA,U+02DC,U+03BC,U+2013-2014,U+2018-201A,U+201C-201E,U+2020-2022,U+2026,U+2030,U+2039-203A,U+2044,U+2074,U+20AC,U+2122
}

h1 {
    font-family:  "museo-slab-w01-100", serif;
}

span {
    font-family:  "museo-slab-w01-100", serif;
}

a {
    font-family:  "museo-slab-w01-100", serif;
}

button {
    font-family:  "museo-slab-w01-100", serif;
}